body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg,#1f1c2c,#928dab);
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  overflow:hidden;
}

.app {
  width: 500px;
  padding: 25px;
  text-align: center;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(18px);
  border-radius: 22px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.4);
}

.camera-box {
  width: 100%;
  max-width: 480px;
  aspect-ratio: 16/9;
  background: black;
  border-radius:16px;
  overflow:hidden;
  margin-bottom: 10px;
  position: relative;
  border:2px solid #0ff;
}

video, canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  object-fit: cover;
}

button {
  flex:1;
  padding:12px;
  margin:0 5px;
  border:none;
  border-radius:12px;
  font-weight:bold;
  cursor:pointer;
  background:linear-gradient(135deg,#43cea2,#185a9d);
  color:white;
  transition: 0.3s;
}

button:hover {
  transform:translateY(-3px);
  box-shadow:0 15px 30px rgba(0,0,0,0.5);
}
